@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

html {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  box-sizing: border-box;
}
.App-header {
  min-height: 90vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: calc(10px + 2vmin);
  font-family: "Poppins", sans-serif;
}

.App-header p {
  color: black;
  font-weight: 700;
  font-size: 58px;
  /* color: #42446e; */
  color: var(--body_color);
}
.App-header img {
  display: flex;
  max-width: 349px;
  width: 100%;
  aspect-ratio: 1/1;
}

.App-logo {
  border-radius: 50%;
  box-shadow: 5px 2px 5px rgb(0, 0, 0, 0.5);
}

/* Navbar  */
nav {
  position: sticky;
  top: 0;
}
nav a.active {
  color: blueviolet;
}

nav .navbar {
  display: flex;
  padding: 15px;
  font-weight: 500;
  background: transparent;
  text-decoration: none;
}

nav .navbar.scrolled {
  background-color: rgb(251, 234, 255, 0.8);
}

nav .nav-brand {
  align-items: center;
  text-align: center;
  margin: auto;
  color: blueviolet;
  text-decoration: none;
}

nav .nav-brand a {
  text-decoration: none;
  color: blueviolet;
}
.navbar ul {
  list-style: none;
}

nav ul {
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: center;
}

.nav-items {
  text-decoration: none;
  color: var(--title_color);
}

nav ul li {
  text-align: center;
  margin: 5px;
  text-decoration: none;
}

nav ul li img {
  text-align: center;
  margin: 0;
}
nav ul .nav-items:hover {
  color: #8a2be2;
  cursor: pointer;
}

.nav-icons {
  display: inline-block;
  align-items: center;
  justify-content: end;
  padding-left: 3px;
}

.banner-name {
  color: blueviolet;
}

/* Tech Stack */
.techstack {
  text-align: center;
  height: 100%;
  margin-bottom: 20rem;
  margin-top: 6rem;
  color: var(--title_color);
}
.techstack h1 {
  font-weight: bold;
  font-size: 48px;
  line-height: 26px;
}
.techstack p {
  font-size: 32px;
  line-height: 26px;
}

.techstack ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0;
  list-style-type: none;
}

.techstack li img {
  width: 120px;
  height: 120px;
}

.techstack li {
  align-items: center;
  margin: 1.5em;
}

/* Project */
.project {
  color: var(--title_color);
  text-align: center;
  height: 100%;
  margin-top: 6rem;
}
.project h1 {
  font-weight: bold;
  font-size: 48px;
  line-height: 26px;
}
.project p {
  font-size: 32px;
  line-height: 26px;
}

/* Card styling */
.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  width: 100%;
  max-width: 1440px;
  margin: auto;
}

.card {
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  background-color: #fff;
  max-width: 373px;
  width: 100%;
  height: auto;
  margin: 20px;
  transition: transform 0.3s;
}

.card-img {
  width: 100%;
  max-width: 375px;
  height: 260px;
  object-fit: cover;
}

.card-body {
  padding: 15px;
}

.card-title {
  margin: 10px 0;
  font-size: 28px;
  line-height: 26px;
  font-weight: 700;
  color: #42446e;
}

.card .card-body .card-text {
  font-size: 18px;
  color: #555;
  margin: 10px;
  text-align: start;
  font-weight: 200;
}

.card .card-body .card-tech {
  margin: 10px 0;
  font-size: 14px;
  color: #888;
}
.tech-title {
  font-size: 16px;
}

.card-links {
  display: flex;
  justify-content: space-evenly;
}
.card-links a {
  color: #000000;
}
.card-links-icon {
  color: #000000;
}
.card-links a:hover {
  color: blueviolet;
}
.card .card-body .card-links-icon {
  padding-right: 5px;
}

/* Footer */
footer {
  background-color: rgb(251, 234, 255, 0.8);
  width: 100%;
}
.hr-custom {
  border: none;
  height: 2px;
  background-color: #ccc;
  margin: auto;
}

.pre-footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 5rem;
}

.pre-footer-icons {
  display: flex;
  list-style: none;
}
.pre-footer-icons li {
  padding: 0.3rem;
  font-size: 1.5em;
}
.icon-footer {
  color: var(--title_color);
}
.footer-below {
  display: flex;
  justify-content: space-evenly;
}
.footer-links {
  display: flex;
  justify-content: space-between;
}
.footer-links a {
  text-decoration: none;
}
.footer-below .footer-links li {
  display: flex;
  list-style: none;
  margin: 0 1rem;
}
.love {
  color: red;
  font-size: 1.2em;
}

.contact {
  margin: auto;
  max-width: 1440px;
  width: 100%;
  height: 100%;
  margin-bottom: 20rem;
  margin-top: 6rem;
  color: var(--title_color);
}

.contact h1 {
  text-align: center;
  font-weight: bold;
  font-size: 48px;
  line-height: 26px;
  width: 100%;
}
.contact p {
  text-align: center;
}

form {
  max-width: 600px;
  width: 100%;
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  padding: 15px;
  border-radius: 8px;
  color: #42446e;
  margin: auto;
}
form h2 {
  text-align: center;
}
form .input-box {
  margin-top: 20px;
}
form label {
  font-weight: 500;
}
form .input-box input {
  width: 95%;
  height: 15px;
  background: transparent;
  border: 2px solid #ddd;
  outline: none;
  border-radius: 6px;
  padding: 15px;
  font-size: 16px;
  color: #333;
}

form .input-box textarea {
  width: 95%;
  height: 150px;
  background: transparent;
  border: 2px solid #ddd;
  outline: none;
  border-radius: 6px;
  padding: 15px;
  font-size: 16px;
  color: #333;
  resize: none;
}

form button {
  margin: 20px 0;
  width: 100%;
  text-align: center;
  padding: 10px;
  border-radius: 8px;
  border: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  color: #ddd;
  background: blueviolet;
  cursor: pointer;
  font-weight: 600;
  font-size: 16px;
}

form button:hover {
  color: blueviolet;
  background: #fff;
}

/* About */
.about {
  text-align: center;
  height: 100%;
  margin-bottom: 20rem;
  margin-top: 6rem;
  color: var(--title_color);
}
.about h1 {
  font-weight: bold;
  font-size: 48px;
  line-height: 26px;
}
.about p {
  font-size: 32px;
  line-height: 26px;
}
