:root {
  --body_background: #8EC5FC;
  --body_color: black;
  --title_color: #42446e;
  --bg-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
}

[data-theme="dark"] {
  --body_background: #282c34;
  --body_color: white;
  --title_color: white;
  --bg-image: #282c34;
}

* {
  transition: all 0.3s ease-in-out;
}
body {
  margin: 0;
  font-family: -apple-system, 'Poppins', BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--body_background);
  background-image: var(--bg-image);
  background-size: 400% 400%;
  -webkit-animation: AnimationName 29s ease infinite;
  -moz-animation: AnimationName 29s ease infinite;
  animation: AnimationName 29s ease infinite;
  color: var(--body_color);
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
